@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.8%;
}

.tit-sec{
    text-align: center;
    margin: 2vh 0;
    flex-grow: 1;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    font-size: 10px;
}




/*BREKPOINTS*/

@media (max-width:1500px){

    
}